@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.container{
    height: 100vh ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.container h1{
    padding-top: 30px;
    font-family: 'Sans-serif'; 
    font-size: 40px;
}

.founder{
    padding-left: 8vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.founder h3{
    font-family: 'Sans-serif'; 
    font-size: 30px;
}

.founder p{
    font-size: 15px; 
    font-family: "Arvo", serif;
    font-weight: 500;
    font-style: normal;
}


.graduation{
    width: 60%;
}