.services-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 colunas */
    grid-template-rows: repeat(2, auto); /* 2 linhas automáticas */
    gap: 10px; /* Espaçamento entre os itens, ajuste conforme necessário */
}