.values-background{
  position: relative;
    height: 110vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    overflow: hidden;
}


.values-background::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../img/valores.jpg'); /* Caminho para a imagem de fundo */
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  opacity: 0.8; /* Ajuste a opacidade aqui */
  z-index: -1; /* Coloca a imagem atrás do conteúdo */
}


.values-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-bottom: 100px;
    margin-bottom: 20px;
    gap: 10px;
  }
  
  .value {
    cursor: pointer;
    display: flex;
    min-width: 80%;
    max-width: 90%;
    height: 10vh;
    background-color: rgba(16, 23, 40, 0.8);
    border-radius: 10px;
    color: white;
    align-items: center;
    justify-content: center;
    font-size: 4vh;
    transition: background 0.5s ease, font-size 0.5s ease;
    
  }
  
  .value-active {
    
    cursor: pointer;
    display: flex;
    min-width: 80%;
    max-width: 90%;
    height: 10vh;
    background-color: rgb(6, 15, 37);
    border-radius: 10px;
    color: white;
    align-items: center;
    justify-content: center;
    font-size: 4.5vh;
    transition: background 0.5s ease, font-size 0.5s ease;
  }
  
  .value:hover {
    background-color: rgba(16, 23, 40, 1);
    font-size: 4.2vh;
  }
  
  .description {
    
    font-size: 2.8vh;
    max-width: 80%;
    min-width: 80%;
    background-color: rgba(16, 23, 40, 0.8);
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.5s ease, opacity 0.5s ease;
  }

  .description p{

    padding: 0px 15px 0px 15px;
  }
  
  .description-visible {
    max-height: 300px; /* Ajuste conforme o tamanho da descrição */
    opacity: 1;
  }
  